# Xcode build output
build/
DerivedData/
*.xcuserstate
*.xcscmblueprint

# Xcode user-specific
xcuserdata/
*.xcworkspace/xcuserdata/

# macOS
.DS_Store

# Swift Package Manager
.swiftpm/
.build/

# Misc
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
marketing/*.mov
